<mat-toolbar color="primary">
  <img src="../../../../assets/icons/guild-wars.svg">
  <span class="example-spacer"></span>
  <button mat-button>About us</button>
  <button mat-button>Gameplay</button>
  <button mat-button>Commanders</button>
  <button mat-button>Tokenomics</button>
  <button mat-button>Roadmap</button>
  <button mat-button>Team</button>
  <button mat-button>Partners</button>
  <span class="example-spacer"></span>
  <button mat-raised-button color="accent">PLAY NOW</button>
</mat-toolbar>
