<div class="hero-bg page-bg container align-middle">
  <div style="text-align:center; max-width: 50%;">
    <img src="../../../../assets/icons/guild-wars.svg" class="gw-logo">
    <p class="subtitle text-white text-secondary">Swap, Stake, Raid, Mine - GUILD WARS is revolutionising the GameFi
      space by gamifying
      DeFi</p>
    <div class="cta-section container align-middle">
      <button mat-raised-button class="cta">Whitepaper</button>
      <button mat-raised-button class="cta">Buy GLX</button>
      <button mat-raised-button color="accent" class="cta">PLAY NOW</button>
    </div>
    <p class="token-address">$GLX Address: 0xDDc95453C93bCf49429ed32F1Ca0aF7549438551</p>
  </div>
</div>
