<div class="hero-section">
  <div class="row">
    <div class="col text-white text-center">
      <img src="../../../../assets/icons/guild-wars.svg" alt="GUILD WARS logo" class="logo mb-md-4">
      <p class="lead">Swap, Stake, Raid, Mine - GUILD WARS is an evolutionary NFT game with bla bla bla bla bla bla bla
        bla
        bla bla bla</p>
      <div class="container my-md-2">
        <div class="row align-items-start">
          <div class="col pr-0">
            <button class="btn btn-secondary">Whitepaper</button>
          </div>
          <div class="col">
            <button class="btn btn-secondary">Buy $GLX</button>
          </div>
          <div class="col pl-0">
            <button class="btn btn-secondary">PLAY NOW</button>
          </div>
        </div>
      </div>
      <p class="text-secondary">$GLX Address: 0xDDc95453C93bCf49429ed32F1Ca0aF7549438551</p>
    </div>
  </div>
</div>
